.thumbs-wrapper ,.carousel-status {
    display: none  !important;
}

.carousel-slider ,.ContainerCrausel{
    border-radius: 1rem;
}

.carousel .slide {
    display: flex;
    justify-content: center;
    background: none;
   

   h1{
     
    font-family: Roboto;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.carousel-caption{
    margin-bottom: 10rem;

    p {
        background-color: rgba(128, 128, 128, 0.082) !important;
        margin-bottom: -5rem;
        color: #b1e4ba;
        font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.28px;
    }
}

   
}

li.slide 
    {padding-bottom: 5rem;}



    .carousel .control-dots{
        bottom: 3rem;
    }
    .carousel .control-dots .dot{

        width: 20px !important;
        height: 5px !important;
        border-radius: 10px;
        box-shadow: none !important;
        margin: 0 4px;
        bottom: 20px;
    }
    .carousel.carousel-slider .control-arrow:hover{
        background: none !important;

    }