.thumbs-wrapper ,.carousel-status {
    display: none  !important;
}

.carousel-slider ,.ContainerCrausel{
    border-radius: 1rem;
    background: url("../../Img/Svg/bg-circle-468x453.svg");
    background-repeat: no-repeat;
    background-size: contain;

  
}

.carousel .slide {
    display: flex;
    justify-content: center;
    background: none;
   
img{
    margin-top: 2rem;
}
   


   
}

li.slide 
    {padding-bottom: 4rem;}



    .carousel .control-dots{
        bottom: 3rem;
    }
    .carousel .control-dots .dot{

        width: 20px !important;
        height: 5px !important;
        border-radius: 10px;
        box-shadow: none !important;
        margin: 0 4px;
        bottom: 20px;
    }
    .carousel.carousel-slider .control-arrow:hover{
        background: none !important;

    }