section.container{
    // display: flex;
    // background-color: yellowgreen;
    border: 2px dashed rgba(187, 186, 186, 0.425);
    text-align: center;
    align-items: center;
    height: 19rem;
    justify-content: center;
    margin-bottom: 2rem;
    border-radius: 8px;

    .dropzone{

        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-content: center;
        text-align: center;
        outline: none;
    }


    .iconTengah{
        i{
            color: #c1c6ca;
            transform: scale(3);
            margin-bottom: 2rem;
        }
        p{
            font-size: 16px;
            color: #d0d8e1;
            letter-spacing: normal;
            font-style: normal;
            line-height: normal;
        }
    }
}