.CardLogin {
color: #1c1f24;
 display: flex;
 justify-content: center;
 flex-direction: column;
//  background-color: gray;
 text-align: left;
 align-items: center;
 width: 100%;
 height: 100%;
 padding: 2rem 2rem;


.input-Container{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;

    label{
        color: #73767f;
        position: absolute;
        margin-left: 4rem;

        margin-top: 1rem;
        font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

    }

    img{
        position: absolute;
       transform: scale(0.4);
       opacity: 0.7;

    }


}


.CardLoginHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    // background-color: aliceblue;
    border-left: 3px solid green;
    padding-left: 1rem;
    width: 100%;
    height: 10%;

    h3 {
        font-weight: 00;
        font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
    }

    p{
        color: #73767f;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
}
.CardLoginBody {
    display: flex;

    flex-direction: column;
    text-align: left;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:  0px 32px 65px #c4c8ce;
    height: 100%;
    padding: 5rem 2rem;
    input{
        color: #73767f;
        padding-top: 2.2rem;
        padding-bottom : 1.5rem;
        padding-left: 4rem;
        padding-right: 2rem;
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 8px;
        border: 1px solid #e4e7ee;
    }
    .rechaptaFrom {
        width:100%;

        margin-bottom: 3rem;

    }

    .BtnLanjutkan {
        padding: 0.7rem 7rem;
        border: none;
        border-radius: 200px;
        font-weight: 600;
        background-color: #349a46;
        color: #ffffff;
    }
}

}

.logo-Container{
    margin-bottom: 2rem;
    img{width: 6rem;
        border: 2px solid #ffffff;
        border-radius: 2px;
        opacity: 90%;
    }

}

