.ContainerDefault {
    display: flex;
    justify-content: center;
    flex-direction: row;

    background-color: #ffffff;
    .ContainerKiri {
        display: flex;
        justify-content: left;
        flex-direction: column;
        background-color: #349a46;


        align-items: left;
        text-align: left;
        padding: 2rem;

        .ContainerCrausel{
            // background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            align-self: center;
            align-content: center;
            width: 80%;
            margin-top: -5rem;

        }
    }

    .ContainerKanan{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color:#ffffff !important;
        width: 40%;
        height: 100%;
        padding: 2rem 3rem;
        margin: 0;
       box-shadow:  0px, 32px
rgba(110, 120, 135, 0.12)
    }



}

.ContainerDefaultSec {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    background-color: floralwhite;
    .ContainerKiri {
        display: flex;
        justify-content: left;
        flex-direction: column;
        background-color: #349a46;
        width: 30%;

        align-items: left;
        text-align: left;
        padding: 2rem;

        .ContainerCrausel{
            background: none  !important;
            width: 100%;
            height: 80%;
            // margin-top: -5rem;

        }
    }

    .ContainerKanan{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color:floralwhite;
        width: 70%;
        height: 100%;
        padding: 3rem;
    }


}

//Untuk Menghilangkan

.hide {
    display: none !important;
}